@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  background-color: #93103c;
}
.main-nav {
  background: #000000;
}
.ul-lists {
  background-color: #3f1d29;
  padding-left: 2rem;
  border-radius: 2rem 0 0 2rem;
  padding-right: 3rem;
}
.ul-list {
  background-color: #3f1d29;
  padding-left: 2rem;
  border-radius: 2rem 2rem 2rem 2rem;
  padding-right: 3rem;
}

.get-started {
  background-color: #fd0054;
  border-radius: 0 2rem 2rem 0;
}
section.marketing-slogan-section {
  background-color: #93103c;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.marketing-slogan {
  border: 10px solid #fd0054;
}

section.marketing-slogan-section2 {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

section.about-us-section {
  background-color: #93103c;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.about-us-header {
  border: 10px solid #fd0054;
  padding-left: 2rem;
  padding-right: 2rem;
}

hr {
  border: 2px solid #fd0054;
}

.read-more-btn {
  border-radius: 0;
  border: 5px solid #fd0054;
}

section.workout-and-blogs-section {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.blog-container {
  background-color: #2b2024;
}
.blog-text {
  color: #fd0054;
}

.blog-btn {
  background: #fd0054;
}

.workouts-container {
  background-color: #ca0043;
  box-shadow: 10px 10px 4px 0 rgb(235, 213, 213);
}

.workouts-sections {
  background-color: #fd0054;
  box-shadow: 6px 6px 4px 0px #82033a;
}

.click-here {
  color: #fd0054;
  background: white;
}

section.faq-section {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.faq-heading {
  border: 10px solid #fd0054;
}
.faq-lists h2 {
  color: #fd0054;
}
.footer-hr {
  border: 1px solid white;
}

section.footer {
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* LOGIN FORM */
form.login-form {
  border: 10px solid #fd0054;
}
input.email {
  border: 1px solid #696969;
  border-radius: 3px;
  width: 25rem;
}

input.password {
  border: 1px solid #696969;
  border-radius: 3px;
  width: 25rem;
}

button.sign-in {
  background: #fd0054;
  border-radius: 3px;
  box-shadow: 0px 10px 4px rgb(236, 233, 233);
  width: 25rem;
}

.resend {
  color: #fd0054;
}

.inputfield {
  height: 3rem;
  width: 3rem;
  border: 1px solid #696969;
  border-radius: 3px;
}

input.confirm-input {
  width: 25rem;
  background-color: #fd0054;
  border-radius: 3px;
  box-shadow: 0px 10px 4px rgb(236, 233, 233);
}
input label {
  border-radius: 50%;
}

.input-field {
  border: 1px solid #696969;
  width: 25rem;
  padding: 1rem;
  border-radius: 3px;
}

.sign-in-btn {
  background-color: #fd0054;
  border-radius: 3px;
  box-shadow: 0px 10px 4px rgb(236, 233, 233);
  width: 25rem;
}

/* ABOUT US PAGE */
.content {
  background-color: #000000;
  scroll-behavior: smooth;
}

.about-us-box {
  border: 10px solid #fd0054;
}

/* .grouphoto { */
/* border-radius: 15px;
} */

/* .photo {
  border: 1px solid white;
  border-radius: 15px;
}

.photoframe {
  border: 4px solid white;
} */
.passage {
  max-width: 900px;
}

.p {
  line-height: 4rem;
}

.valuefirst h1 {
  color: #fd0054;
}
.valuesecond h1 {
  color: #fd0054;
}

.valuefirst p {
  line-height: 2.5rem;
}
.valuesecond p {
  line-height: 2.5rem;
}

.footer-line {
  height: 1px;
}

.faq-container {
  background-color: #000000;
}

.arms:hover {
  opacity: 0.7;
  cursor: pointer;
}
.chest:hover {
  opacity: 0.7;
  cursor: pointer;
}
.legs:hover {
  opacity: 0.7;
  cursor: pointer;
}
.back:hover {
  opacity: 0.7;
  cursor: pointer;
}

.abs:hover {
  opacity: 0.7;
  cursor: pointer;
}

@layer components {
  .accordion-header {
    @apply py-4 px-3 cursor-pointer;
  }
  .accordion-body {
    @apply transition-all duration-200 ease-out;
  }
  .pink {
    color: #fd0054;
  }
}
